// Colors
$clr-brand-primary: #35005f;
$clr-brand-secondary: #6A0DAD;
$clr-brand-tertiary: #008B8B;

$clr-utility-success: #198754;
$clr-utility-danger: #DC3545;

$clr-neutral-ltst: #F5F5F5;
$clr-neutral-lt: #CCCCCC;
$clr-neutral-dk: #444444;
$clr-neutral-dkst: #0D0D0D;

$clr-rating-stars: #ffd000;

$grd-brand-dk: linear-gradient(45deg, $clr-brand-primary, $clr-brand-secondary, $clr-brand-tertiary);
$grd-brand-lt: linear-gradient(45deg, $clr-brand-primary, $clr-brand-secondary, $clr-brand-tertiary, $clr-brand-tertiary);

// Font settings
$font-size-base: 16px;

$font-size-xs: .75rem;
$font-size-s: .875rem;
$font-size-m: 1rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;

// Margin
$margin-top-15: 15px;
$margin-bottom-10: 10px;
$margin-bottom-20: 20px;
$margin-bottom-30: 30px;
$margin-bottom-40: 40px;
$margin-bottom-50: 50px;

// Buttons
$btn-padding-y: 0.6rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1rem;
$btn-border-radius: 0.4rem;
$btn-font-weight: 700;
$btn-transition: background-color 0.8s, color 0.4s, border-color 0.4s;