@use '../variables' as *;

// Base Button Styling
.btn {
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    border-radius: $btn-border-radius;
    font-weight: $btn-font-weight;
    transition: box-shadow 0.4s ease-in-out;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &:hover {
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    }
}

// Primary Button with Gradient Hover Animation
.btn-primary {
    color: $clr-neutral-ltst;

    position: relative;
    z-index: 1;
    background: $grd-brand-dk;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 200%;
        height: 100%;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }

    &:hover {
        background: $grd-brand-lt;
        background-clip: text;
        color: transparent;
    }

    &:hover:before {
        left: 0;
    }
}

.under {
    width: max-content;
    z-index: 100;
    font-size: $btn-font-size;
    border-radius: $btn-border-radius;
    border: none;
    transition: 0.8s ease-in-out;

    &:hover {
        background-color: white;
    }
}

// Secondary Button with Color Inversion Animation
.btn-secondary {
    background-color: $clr-brand-secondary;
    color: $clr-neutral-ltst;
    border: 2px solid $clr-brand-secondary;
    position: relative;
    z-index: 1;

    &:hover {
        color: $clr-brand-secondary;
        background-color: rgba($clr-brand-secondary, .05);
        border-color: $clr-brand-secondary;
    }
}

// Disabled Button (No animation, no pointer)
.btn-disabled {
    background-color: $clr-neutral-dk;
    color: $clr-neutral-ltst;
    border-color: $clr-neutral-dk;
    cursor: not-allowed;
    pointer-events: none;
}